/* booleano */
$media: true;
/* map */
$set-colori: (grigio: #ccc, blu: #00f);
/* stringa */
$colore: #fff;
/* num */
$size: 1.5em;


html{
    font-size: $size;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: $size * 2;
}